#email,#dept{
    left: 100px;
    margin-left: 40px;
    
    
}
,#birth{
    left:50px;
    
}
#container{
    border: solid 3px;
    left: 100px;
    
}
table, th, td {
    border: 1px solid black;
}